<% content_for :page_title, page_title %>
<% content_for :back_link_url, back_link_url %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with model: form, url: form_path, method: :patch do |f| %>
      <%= f.govuk_error_summary %>

      <span class="govuk-caption-l"><%= section_label %></span>
      <%= f.govuk_text_field :phone, type: :tel, autocomplete: :tel, label: { tag: 'h1', size: 'l', text: "Your phone number" }, hint: { text: 'It’ll only be used to contact you about your referral' }, class: 'govuk-input--width-20' %>
      <%= f.govuk_submit 'Save and continue' %>
    <% end %>
  </div>
</div>
