<% content_for :page_title, "#{'Error: ' if @same_organisation_form.errors.any?}Did they work at the same organisation as you at the time of the alleged misconduct?" %>
<% content_for :back_link_url, return_to_session_or(edit_referral_teacher_role_duties_path(current_referral)) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <%= form_with model: @same_organisation_form, url: referral_teacher_role_same_organisation_path(current_referral), method: :put do |f| %>
      <%= f.govuk_error_summary %>

      <span class="govuk-caption-l">About their role</span>
      <%= f.govuk_radio_buttons_fieldset :same_organisation,
        legend: { text: "Did they work at the same organisation as you at the time of the alleged misconduct?", tag: 'h1', size: "l" } do %>
        <%= f.hidden_field :same_organisation %>
        <%= f.govuk_radio_button :same_organisation, true, label: { text: "Yes" }, link_errors: true %>
        <%= f.govuk_radio_button :same_organisation, false, label: { text: "No" } %>
      <% end %>
      <%= f.govuk_submit "Save and continue" %>
    <% end %>
  </div>
</div>
