<% content_for :page_title, "#{'Error: ' if @allegation_dbs_form.errors.any?}Telling DBS about this case - The allegation" %>
<% content_for :back_link_url, return_to_session_or(polymorphic_path([:edit, current_referral.routing_scope, current_referral, :allegation_details])) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <%= form_with model: @allegation_dbs_form, url: [current_referral.routing_scope, current_referral, :allegation_dbs], method: :put do |f| %>
      <%= f.govuk_error_summary %>

      <span class="govuk-caption-l">The allegation</span>
      <h1 class="govuk-heading-l">Telling DBS about this case</h1>

      <p>DBS (Disclosure and Barring Service) need to know about any allegations that involve harm to a child, or the risk of harm to a child.</p>

      <p>If you have not told DBS about your allegation, we’ll pass your report onto them if it meets all the legal requirements.</p>

      <div class="govuk-form-group">
        <%= f.govuk_radio_buttons_fieldset(:dbs_notified, legend: { text: "Have you told DBS about this case?", size: "m" }) do %>
          <%= f.govuk_radio_button :dbs_notified, "true", label: { text: "Yes, I’ve told DBS" }, link_errors: true %>
          <%= f.govuk_radio_button :dbs_notified, "false", label: { text: "No" } %>
        <% end %>
      </div>
      <%= f.govuk_submit "Save and continue" %>
    <% end %>
  </div>
</div>
