<% content_for :page_title, "#{'Error: ' if @allegation_details_form.errors.any?}How do you want to give details about the allegation?" %>
<% content_for :back_link_url, return_to_session_or(polymorphic_path([:edit, current_referral.routing_scope, current_referral])) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <%= form_with model: @allegation_details_form, url: [current_referral.routing_scope, current_referral, :allegation_details], method: :put do |f| %>
      <%= f.govuk_error_summary %>

      <span class="govuk-caption-l">The allegation</span>
      <div class="govuk-form-group">
        <%= f.govuk_radio_buttons_fieldset(:allegation_format, legend: { size: "l", text: "How do you want to give details about the allegation?", tag: 'h1' }) do %>
          <%= f.govuk_radio_button :allegation_format, "upload", label: { text: "Upload file" }, link_errors: true do %>
            <%= f.govuk_file_field :allegation_upload, label: { text: "Upload file", size: "s" } %>
          <% end %>
          <%= f.govuk_radio_button :allegation_format, "details", label: { text: "Describe the allegation" } do %>
            <%= f.govuk_text_area :allegation_details,
                                  label: { text: "Description of the allegation", size: "m" },
                                  rows: 20 %>
          <% end %>
        <% end %>
      </div>
      <%= f.govuk_submit "Save and continue" %>
    <% end %>
  </div>
</div>
