<% content_for :page_title, "#{'Error: ' if @unsupervised_teaching_form.errors.any?}You can refer someone who does unsupervised teaching work" %>
<% content_for :back_link_url, previous_question_path %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with model: @unsupervised_teaching_form, url: unsupervised_teaching_url, method: :post do |f| %>
      <%= f.govuk_error_summary %>

      <h1 class="govuk-heading-l">
        You can refer someone who does unsupervised teaching work
      </h1>

      <p class="govuk_body">Unsupervised teaching work is:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>planning and preparing lessons and courses for pupils</li>
        <li>delivering lessons to pupils</li>
        <li>assessing the development, progress and attainment of pupils</li>
        <li>reporting on the development, progress and attainment of pupils</li>
      </ul>

      <%= f.govuk_radio_buttons_fieldset :unsupervised_teaching, legend: { size: 'm', text: 'Does this person carry out unsupervised teaching work?' } do %>
        <%= f.hidden_field :unsupervised_teaching %>
        <%= f.govuk_radio_button :unsupervised_teaching, "yes", label: { text: "Yes, they do unsupervised teaching work" }, link_errors: true %>
        <%= f.govuk_radio_button :unsupervised_teaching, "no", label: { text: "No" } %>
        <%= f.govuk_radio_button :unsupervised_teaching, "not_sure", label: { text: "I’m not sure" } %>
      <% end %>
      <%= f.govuk_submit %>
    <% end %>
  </div>
</div>
