<% content_for :page_title, "#{'Error: ' if @evidence_categories_form.errors.any?}#{evidence.filename}" %>
<% content_for :back_link_url, return_to_session_or(evidence_categories_back_link(@evidence_categories_form)) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      <span class="govuk-caption-m">Your uploaded file</span>
      <%= evidence.filename %>
    </h1>

    <%= form_with model: @evidence_categories_form, url: referral_evidence_categories_path(current_referral), method: :put do |f| %>
      <%= f.govuk_error_summary %>

      <%= f.govuk_check_boxes_fieldset(
        :categories,
        legend: { text: "Select all the categories that describe this file", size: "m" },
      ) do %>
        <% @evidence_categories_form.class::CATEGORIES.each do |category| %>
          <%= f.govuk_check_box :categories, category, label: { text: I18n.t("referral_evidence.categories.#{category}") } %>
        <% end %>
        <%= f.govuk_check_box :categories, "other", label: { text: "Other" } do %>
          <%= f.govuk_text_field :categories_other, label: { text: "Explain what this document is", size: "s" } %>
        <% end %>
      <% end %>
      <%= f.govuk_submit "Save and continue" %>
    <% end %>
  </div>
</div>
