<% content_for :page_title, "Manage teacher misconduct referrals" %>

<% content_for :breadcrumbs do %>
  <%= govuk_breadcrumbs(breadcrumbs: {
    "Referrals" => manage_interface_referrals_path,
    @referral.name => nil
  }) %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <span class="govuk-caption-l"><%= @referral.id %></span>
    <h1 class="govuk-heading-l"><%= @referral.name %></h1>

    <div class="app-panel">
      <% if @referral.has_attachments? %>
        <p class="govuk-body">
          <%= govuk_link_to "Download referral (ZIP)", manage_interface_referral_path(format: :zip) %>
        </p>
      <% end %>
    </div>

    <%= render ManageInterface::ReferralSummaryComponent.new(referral: @referral) %>
    <%= render ManageInterface::PersonalDetailsComponent.new(referral: @referral) %>
    <%= render ManageInterface::EmploymentDetailsComponent.new(referral: @referral) %>

    <% if @referral.from_employer? %>
      <%= render ManageInterface::OtherEmploymentDetailsComponent.new(referral: @referral) %>
    <% end %>

    <%= render ManageInterface::AllegationDetailsComponent.new(referral: @referral) %>
    <%= render ManageInterface::EvidenceComponent.new(referral: @referral) %>

    <% if @referral.from_employer? %>
      <%= render ManageInterface::PreviousAllegationDetailsComponent.new(referral: @referral) %>
    <% end %>

    <%= render ManageInterface::ReferrerDetailsComponent.new(referral: @referral) %>
  </div>
</div>
