<h1 class="govuk-heading-l">Confirm your email address</h1>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with(model: @otp_form, scope: resource_name, url: user_otp_path, method: :post) do |f| %>
      <%= f.hidden_field :id, value: @otp_form.id %>
      <%= f.hidden_field :email, value: @otp_form.email %>
      <h2><%= @otp_form.email %></h2>

      <%= f.govuk_text_field :otp, size: 'm', label: { text: "Enter your code" }, class: 'govuk-!-width-one-quarter' %>

      <%= f.govuk_submit "Sign in" %>
    <% end %>
  </div>
</div>
