<% content_for :page_title, page_title %>
<% content_for :back_link_url, back_link_url %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <%= form_with model: form, url: form_path, method: :patch do |f| %>
      <%= f.govuk_error_summary %>

      <span class="govuk-caption-l"><%= section_label %></span>
      <%= f.govuk_radio_buttons_fieldset :organisation_address_known,
        legend: { text: form_label, tag: 'h1', size: "l" } do %>
        <%= f.hidden_field :organisation_address_known %>
        <%= f.govuk_radio_button :organisation_address_known, true, label: { text: "Yes" }, link_errors: true %>
        <%= f.govuk_radio_button :organisation_address_known, false, label: { text: "No" } %>
      <% end %>
      <%= f.govuk_submit "Save and continue" %>
    <% end %>
  </div>
</div>
