<% content_for :page_title, "#{'Error: ' if @organisation_address_form.errors.any?}What is your organisation’s address?" %>
<% content_for :back_link_url, return_to_session_or(edit_referral_organisation_name_path(current_referral)) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with model: @organisation_address_form, url: referral_organisation_address_url(current_referral), method: :patch do |f| %>
      <%= f.govuk_error_summary %>
      <h1 class="govuk-heading-xl">
        What is your organisation’s address?
      </h1>
      <%= f.govuk_text_field :street_1, label: { text: "Address line 1" } %>
      <%= f.govuk_text_field :street_2, label: { text: "Address line 2 (optional)" } %>
      <%= f.govuk_text_field :city, label: { text: "Town or city" } %>
      <%= f.govuk_text_field :postcode, label: { text: "Postcode" } %>
      <%= f.govuk_submit 'Save and continue' %>
    <% end %>
  </div>
</div>
