<% content_for :page_title, "#{'Error: ' if @organisation_address_form.errors.any?}Your organisation" %>
<% content_for :back_link_url, return_to_session_or(polymorphic_path([:edit, current_referral.routing_scope, current_referral, :organisation_name])) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">
      Your organisation
    </h1>
    <p>Cases of serious misconduct must be related to teachers who are (or have been) employed or engaged at:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>a school in England</li>
      <li>a sixth form college in England</li>
      <li>relevant youth accommodation in England</li>
      <li>a children’s home in England</li>
      <li>a 16 to 19 Academy</li>
    </ul>
    <p>
      This does not include cases relating to teaching assistants, higher level teaching assistants or other 
      support staff.
    </p>

    <%= form_with model: @organisation_address_form, url: [current_referral.routing_scope, current_referral, :organisation_address], method: :patch do |f| %>
      <%= f.govuk_error_summary %>

      <%= f.govuk_text_field :name, label: { size: "m", text: "Organisation name" } %>
      <%= f.govuk_text_field :street_1, label: { size: "m", text: "Address line 1" } %>
      <%= f.govuk_text_field :street_2, label: { size: "m", text: "Address line 2 (optional)" } %>
      <%= f.govuk_text_field :city, label: { size: "m", text: "Town or city" } %>
      <%= f.govuk_text_field :postcode, label: { size: "m", text: "Postcode" } %>
      <%= f.govuk_submit 'Save and continue' %>
    <% end %>
  </div>
</div>
