<% content_for :page_title, "#{'Error: ' if @organisation_address_form.errors.any?}Your organisation" %>
<% content_for :back_link_url, return_to_session_or(polymorphic_path([:edit, current_referral.routing_scope, current_referral])) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with model: @organisation_address_form, url: [current_referral.routing_scope, current_referral, :organisation_address], method: :patch do |f| %>
      <%= f.govuk_error_summary %>

      <h1 class="govuk-heading-l">Your organisation</h1>

      <%= f.govuk_text_field :name, label: { size: "m", text: "Organisation name" } %>
      <%= f.govuk_text_field :street_1, autocomplete: "address-line1", label: { size: "m", text: "Address line 1" } %>
      <%= f.govuk_text_field :street_2, autocomplete: "address-line2", label: { size: "m", text: "Address line 2 (optional)" } %>
      <%= f.govuk_text_field :city, autocomplete: "address-level2", label: { size: "m", text: "Town or city" } %>
      <%= f.govuk_text_field :postcode, autocomplete: 'postal-code', label: { size: "m", text: "Postcode" } %>
      <%= f.govuk_submit 'Save and continue' %>
    <% end %>
  </div>
</div>
