<% content_for :page_title, 'Check your answers before continuing' %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Check your answers before&nbsp;continuing</h1>
      </div>
    </div>

    <h2 class="govuk-heading-l">1. About you</h2>
    <% about_you = [
      {
        actions: [
          { text: "Change", href: edit_referral_referrer_name_path(current_referral), visually_hidden_text: "name" },

        ],
        key: { text: "Your name" },
        value: { text: @referrer.name },
      },
      {
        actions: [],
        key: { text: "Email address" },
        value: { text: current_user.email }
      },
      {
        actions: [
          { text: "Change", href: edit_referral_referrer_job_title_path(current_referral), visually_hidden_text: "job title" },
        ],
        key: { text: "Your job title" },
        value: { text: @referrer.job_title },
      },
      {
        actions: [
          { text: "Change", href: edit_referral_referrer_phone_path(current_referral), visually_hidden_text: "phone" },
        ],
        key: { text: "Main contact number" },
        value: { text: @referrer.phone },
      },
    ] %>
    <%= render(SummaryCardComponent.new(rows: about_you)) do %>
      <%= render SummaryCardHeaderComponent.new(title: 'Your details') %>
    <% end %>

    <% organisation = [
      {
        actions: [
          { text: "Change", href: edit_referral_organisation_name_path(current_referral), visually_hidden_text: "name" },

        ],
        key: { text: "Organisation" },
        value: { text: @organisation.name },
      },
      {
        actions: [
          { text: "Change", href: edit_referral_organisation_address_path(current_referral), visually_hidden_text: "address" },

        ],
        key: { text: "Address" },
        value: { text: organisation_address(@organisation) },
      },
    ] %>
    <%= render(SummaryCardComponent.new(rows: organisation)) do %>
      <%= render SummaryCardHeaderComponent.new(title: 'Your organisation') %>
    <% end %>

    <h2 class="govuk-heading-l">2. About the person you are referring</h2>

    <% personal_details = [
      {
        actions: [
          { text: "Change", href: referrals_edit_personal_details_name_path(current_referral), visually_hidden_text: "name" },
        ],
        key: { text: "Name" },
        value: { text: "#{current_referral.first_name} #{current_referral.last_name}" },
      },
      {
        actions: [
          { text: "Change", href: referrals_edit_personal_details_age_path(current_referral), visually_hidden_text: "date of birth" },
        ],
        key: { text: "Date of birth" },
        value: { text: current_referral.date_of_birth&.to_fs(:long_ordinal_uk) },
      },
      {
        actions: [
          { text: "Change", href: referrals_edit_personal_details_trn_path(current_referral), visually_hidden_text: "teacher reference number (TRN)" },
        ],
        key: { text: "Teacher reference number (TRN)" },
        value: { text: current_referral.trn },
      },
      {
        actions: [
          { text: "Change", href: referrals_edit_personal_details_qts_path(current_referral), visually_hidden_text: "do they have QTS?" },
        ],
        key: { text: "Do they have QTS?" },
        value: { text: current_referral.has_qts&.humanize },
      },
    ] %>
    <%= render(SummaryCardComponent.new(rows: personal_details)) do %>
      <%= render SummaryCardHeaderComponent.new(title: "Personal details") %>
    <% end %>

    <% contact_details = [
      {
        actions: [
          { text: "Change", href: referrals_edit_contact_details_email_path(current_referral), visually_hidden_text: "email" },

        ],
        key: { text: "Email address" },
        value: { text: current_referral.email_known ? current_referral.email_address : "Not known" },
      },
      {
        actions: [
          { text: "Change", href: referrals_edit_contact_details_address_path(current_referral), visually_hidden_text: "address" },

        ],
        key: { text: "Address" },
        value: { text: current_referral.address_known ? address(current_referral) : "Not known" },
      }
    ] %>
    <%= render(SummaryCardComponent.new(rows: contact_details)) do %>
      <%= render SummaryCardHeaderComponent.new(title: 'Contact details') %>
    <% end %>

    <% their_role = [
      {
        actions: [
          { 
            text: "Change", 
            href: referrals_edit_teacher_role_start_date_path(current_referral), 
            visually_hidden_text: "start date" 
          },
        ],
        key: { text: "Start date" },
        value: { 
          text: current_referral.role_start_date_known ? current_referral.role_start_date&.to_fs(:long_ordinal_uk) : "Not known" 
        },
      },
      {
        actions: [
          { 
            text: "Change", 
            href: referrals_edit_teacher_employment_status_path(current_referral), 
            visually_hidden_text: "employment status" 
          },
        ],
        key: { text: "Are they still employed in that job?" },
        value: { text: current_referral.employment_status ? current_referral.employment_status.humanize : "Not known" },
      },
      {
        actions: [
          { 
            text: "Change", 
            href: referrals_edit_teacher_job_title_path(current_referral), 
            visually_hidden_text: "job title" 
          },
        ],
        key: { text: "Job title" },
        value: { text: current_referral.job_title ? current_referral.job_title : "Not known" },
      },
    ] %>
    <%= render(SummaryCardComponent.new(rows: their_role)) do %>
      <%= render SummaryCardHeaderComponent.new(title: 'About their role') %>
    <% end %>

    <h2 class="govuk-heading-l">3. The allegation</h2>

    <% what_happened = [
      {
        actions: [
          { 
            text: "Change", 
            href: referrals_edit_allegation_details_path(current_referral), 
            visually_hidden_text: "summary" 
          },
        ],
        key: { text: "Summary" },
        value: { text: @allegation_confirm_form.allegation_details },
      },
      {
        actions: [
          { text: "Change", href: referrals_edit_allegation_dbs_path(current_referral), visually_hidden_text: "DBS notified" },
        ],
        key: { text: "Have you told DBS?" },
        value: { text: current_referral.dbs_notified ? "Yes" : "No" },
      },
    ] %>
    <%= render(SummaryCardComponent.new(rows: what_happened)) do %>
      <%= render SummaryCardHeaderComponent.new(title: "What happened") %>
    <% end %>

    <% previous_misconduct = [
      {
        actions: [
          { text: "Change", href: edit_referral_previous_misconduct_reported_path(current_referral), visually_hidden_text: "reported" },

        ],
        key: { text: "Has there been any previous misconduct?" },
        value: { text: humanize_three_way_choice(current_referral.previous_misconduct_reported) },
      }
    ] %>
    <% previous_misconduct << {
      actions: [
        { text: "Change", href: edit_referral_previous_misconduct_detailed_account_path(current_referral), visually_hidden_text: "details" },
      ],
      key: { text: "Detailed report" },
      value: { text: current_referral.previous_misconduct_upload.attached? ? current_referral.previous_misconduct_upload.filename : simple_format(current_referral.previous_misconduct_details) },
    } if current_referral.previous_misconduct_reported? %>

    <%= render(SummaryCardComponent.new(rows: previous_misconduct)) do %>
      <%= render SummaryCardHeaderComponent.new(title: 'Previous allegations') %>
    <% end %>

    <% 
      evidence = if current_referral.evidences.any?
        current_referral.evidences.map do |evidence|
          {
            actions: [
              { text: "Change", href: referrals_edit_evidence_categories_path(current_referral, evidence), visually_hidden_text: "categories" },
              { text: "Delete", href: referrals_delete_evidence_path(current_referral, evidence), visually_hidden_text: "evidence upload" },
            ],
            key: { text: evidence.filename },
            value: { text: Referrals::Evidence::CategoriesForm.selected_categories(evidence).join(", ") },
          }
        end
      else
        [
          {
            actions: [
              { text: "Change", href: referrals_edit_evidence_start_path(current_referral), visually_hidden_text: "evidence" },
            ],
            key: { text: "Documents" },
            value: { text: "No evidence uploaded" },
          },
        ]
      end
    %>
    <%= render(SummaryCardComponent.new(rows: evidence)) do %>
      <%= render SummaryCardHeaderComponent.new(title: "Evidence") %>
    <% end %>

    <%= govuk_button_link_to "Continue", referral_declaration_path(current_referral) %>
  </div>
</div>
