<% content_for :back_link_url, support_interface_staff_index_path %>

<h1 class="govuk-heading-l">Change permissions for <%= @staff.email %></h1>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with model: @staff_permissions_form, url: support_interface_staff_permission_path(@staff), method: :put do |f| %>
      <%= f.govuk_error_summary %>

      <%= f.govuk_fieldset legend: { text: "Permissions", size: "m" } do %>
        <%= f.govuk_check_box :view_support, 1, multiple: false, label: { text: "View support" } %>
        <%= f.govuk_check_box :manage_referrals, 1, multiple: false, label: { text: "Manage referrals" } %>
        <%= f.govuk_check_box :feedback_notification, 1, multiple: false, label: { text: "Feedback notification" }, hint: { text: "Receive an email notification when new feedback is available" } %>
      <% end %>

      <%= f.govuk_submit "Save permissions" %>
    <% end %>
  </div>
</div>
