<% content_for :page_title, "#{'Error: ' if @organisation_address_form.errors.any?}Where they were employed at the time of the alleged misconduct" %>
<% content_for :back_link_url, return_to_session_or(edit_referral_teacher_role_organisation_address_known_path(current_referral)) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <%= form_with model: @organisation_address_form, url: referral_teacher_role_organisation_address_path(current_referral), method: :put do |f| %>
      <%= f.govuk_error_summary %>

      <span class="govuk-caption-l">About their role</span>
      <h1 class="govuk-heading-l">
        Where they were employed at the time of the alleged misconduct
      </h1>

      <%= f.govuk_text_field :organisation_name, label: { text: "Organisation name", size: "m" } %>
      <%= f.govuk_text_field :organisation_address_line_1, label: { text: "Address line 1", size: "m" } %>
      <%= f.govuk_text_field :organisation_address_line_2, label: { text: "Address line 2 (optional)", size: "m" } %>
      <%= f.govuk_text_field :organisation_town_or_city, label: { text: "Town or city", size: "m" } %>
      <%= f.govuk_text_field :organisation_postcode, label: { text: "Postcode", size: "m" } %>
      <%= f.govuk_submit 'Save and continue' %>
    <% end %>
  </div>
</div>
