<% content_for :page_title, "#{'Error: ' if @working_somewhere_else_form.errors.any?}Are they employed somewhere else?" %>
<% content_for :back_link_url, return_to_session_or(edit_referral_teacher_role_duties_path(current_referral)) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <%= form_with model: @working_somewhere_else_form, url: referral_teacher_role_working_somewhere_else_path(current_referral), method: :put do |f| %>
      <%= f.govuk_error_summary %>

      <span class="govuk-caption-l">About their role</span>
      <%= f.govuk_radio_buttons_fieldset :working_somewhere_else,
        legend: { size: "l", text: "Are they employed somewhere else?" } do %>
        <%= f.hidden_field :working_somewhere_else %>
        <%= f.govuk_radio_button :working_somewhere_else, "yes", label: { text: "Yes" } %>
        <%= f.govuk_radio_button :working_somewhere_else, "no", label: { text: "No" } %>
        <%= f.govuk_radio_button :working_somewhere_else, "not_sure", label: { text: "I’m not sure" } %>
      <% end %>
      <%= f.govuk_submit "Save and continue" %>
    <% end %>
  </div>
</div>
