<% content_for :page_title, "#{'Error: ' if @allegation_check_answers_form.errors.any?}Check and confirm your answers - The allegation" %>
<% content_for :back_link_url, return_to_session_or(polymorphic_path([:edit, current_referral.routing_scope, current_referral])) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with model: @allegation_check_answers_form, url: [current_referral.routing_scope, current_referral, :allegation, :check_answers], method: :put do |f| %>
      <%= f.govuk_error_summary %>

      <h1 class="govuk-heading-l">
        <span class="govuk-caption-l">The allegation</span>
        Check and confirm your answers
      </h1>

      <%= render WhatHappenedComponent.new(referral: current_referral) %>

      <%= f.govuk_radio_buttons_fieldset(
        :allegation_details_complete,
        legend: { text: "Have you completed this section?", size: "m" },
        hint: { text: "You can still make changes to a completed section" },
      ) do %>
        <%= f.govuk_radio_button :allegation_details_complete, "true", label: { text: "Yes, I’ve completed this section" }, link_errors: true %>
        <%= f.govuk_radio_button :allegation_details_complete, "false", label: { text: "No, I’ll come back to it later" } %>
      <% end %>
      <%= f.govuk_submit "Save and continue" %>
    <% end %>
  </div>
</div>
