<% content_for :page_title, "#{'Error: ' if @serious_misconduct_form.errors.any?}Check that your allegation involves serious misconduct" %>
<% content_for :back_link_url, previous_question_path %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with model: @serious_misconduct_form, url: serious_misconduct_path, method: :post do |f| %>
      <%= f.govuk_error_summary %>
      <h1 class="govuk-heading-l">Check that your allegation involves serious misconduct</h1>
      <p class="govuk_body">Examples of serious misconduct:</p>
      <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-6">
        <li>violent behaviour</li>
        <li>a serious criminal offence</li>
        <li>an abuse of position or trust</li>
        <li>inappropriate sexual activity</li>
        <li>a serious failure in safeguarding</li>
        <li>a sexual or romantic relationship with a current or former pupil</li>
      </ul>
      <p class="govuk_body">
        If your allegation is not serious misconduct, it will not be investigated. For example, cases of incompetence.
      </p>

      <%= f.govuk_radio_buttons_fieldset :serious_misconduct, legend: { tag: 'h2', size: 'm', text: 'Does the allegation involve serious misconduct?' } do %>
        <%= f.hidden_field :serious_misconduct %>
        <%= f.govuk_radio_button :serious_misconduct, "yes", label: { text: "Yes" }, link_errors: true %>
        <%= f.govuk_radio_button :serious_misconduct, "no", label: { text: "No" } %>
        <%= f.govuk_radio_button :serious_misconduct, "not_sure", label: { text: "I’m not sure" } %>
      <% end %>
      <%= f.govuk_submit %>
    <% end %>
  </div>
</div>