<li class="app-task-list__section app-task-list__section">
  <h2 class="app-task-list__section-heading">
    <%= label %>
  </h2>
  <ul class="app-task-list__items">
    <% items.each do |item| %>
      <li class="app-task-list__item">
        <span class="app-task-list__task-name">
          <a href="<%= item.path %>" aria-describedby="<%= item.label.parameterize %>"><%= item.label %></a>
        </span>
        <% tag_css = item.status != :completed ? " govuk-tag--grey" : "" -%>
        <strong class="govuk-tag app-task-list__tag<%= tag_css %>" id="<%= item.label.parameterize %>">
          <%= I18n.t("referral_form.statuses.#{item.status}") %>
        </strong>
      </li>
    <% end %>
  </ul>
</li>
