<h1 class="govuk-heading-l">Sign in</h1>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <p class="govuk-body"><%= govuk_link_to "Reset your password", new_password_path(resource_name) %> if you've forgotten it.</p>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <%= f.govuk_email_field :email, autocomplete: "email", label: { text: "Email", class: "govuk-label govuk-label--m" } %>
      <%= f.govuk_password_field :password, autocomplete: "current-password", label: { text: "Password", class: "govuk-label govuk-label--m" } %>

      <%= f.govuk_submit "Sign in" %>
    <% end %>

    <%= govuk_button_to "Sign in with Active Directory", omniauth_authorize_path(:staff, :azure_activedirectory_v2), method: :post, data: { turbo: "false" } %>
  </div>
</div>
