<% content_for :page_title, "#{'Error: ' if @reason_leaving_role_form.errors.any?}Reason they left the job" %>
<% content_for :back_link_url, return_to_session_or(polymorphic_path([:edit, current_referral.routing_scope, current_referral, :teacher_role, :end_date])) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <%= form_with model: @reason_leaving_role_form, url: [current_referral.routing_scope, current_referral, :teacher_role, :reason_leaving_role], method: :put do |f| %>
      <%= f.govuk_error_summary %>

      <span class="govuk-caption-l">About their role</span>
      <%= f.govuk_radio_buttons_fieldset :reason_leaving_role,
        legend: { text: "Reason they left the job", tag: 'h1', size: "l" }  do %>
        <%= f.hidden_field :reason_leaving_role %>

        <%= f.govuk_radio_button :reason_leaving_role, "resigned", label: { text: "Resigned" }, link_errors: true %>
        <%= f.govuk_radio_button :reason_leaving_role, "dismissed", label: { text: "Dismissed" } %>
        <%= f.govuk_radio_button :reason_leaving_role, "retired", label: { text: "Retired" } %>
        <%= f.govuk_radio_button :reason_leaving_role, "unknown", label: { text: "I’m not sure" } %>
      <% end %>
      <%= f.govuk_submit "Save and continue" %>
    <% end %>
  </div>
</div>
