<% content_for :page_title, page_title %>
<% content_for :back_link_url, back_link_url %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <%= form_with model: form, url: form_path, method: :patch do |f| %>
      <%= f.govuk_error_summary %>

      <span class="govuk-caption-l"><%= section_label %></span>
      <h1 class="govuk-heading-l"><%= form_label %></h1>
      <p class="govuk-!-padding-bottom-6">This information is required by law. It’ll help us to identify the person you’re referring and decide if we need to investigate the case further.</p>
      <div class="govuk-form-group">
        <%= f.govuk_text_field(
          :first_name,
          label: { text: "First name", class: "govuk-label--m" },
          hint: { text: "Or given name - enter their initial if you do not know their first name" }
        ) %>
      </div>
      <div class="govuk-form-group">
        <%= f.govuk_text_field(
          :last_name,
          label: { text: "Last name", class: "govuk-label--m" },
          hint: { text: "Or family name" }
        ) %>
      </div>
      <div class="govuk-form-group">
        <%= f.govuk_radio_buttons_fieldset(
            :name_has_changed,
            legend: { size: 'm', text: "Do you know them by any other name?" },
            hint: { text: "For example, if they’ve changed their name after getting married" }
        ) do %>
          <%= f.govuk_radio_button :name_has_changed, "yes", label: { text: "Yes" }, link_errors: true do %>
            <%= f.govuk_text_field :previous_name, label: { text: "Other name", class: "govuk-label--s" } %>
          <% end %>
          <%= f.govuk_radio_button :name_has_changed, "no", label: { text: "No" } %>
        <% end %>
      </div>
      <%= f.govuk_submit "Save and continue" %>
    <% end %>
  </div>
</div>
