<% content_for :page_title, page_title %>
<% content_for :back_link_url, back_link_url %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with model: form, url: form_path, method: :patch do |f| %>
      <%= f.govuk_error_summary %>

      <span class="govuk-caption-l"><%= section_label %></span>
      <h1 class="govuk-heading-l"><%= form_label %></h1>

      <%= f.govuk_text_field :address_line_1, label: { size: 'm', text: "Address line 1" } %>
      <%= f.govuk_text_field :address_line_2, label: { size: 'm', text: "Address line 2 (optional)" } %>
      <%= f.govuk_text_field :town_or_city, label: { size: 'm', text: "Town or city" } %>
      <%= f.govuk_text_field :postcode, label: { size: 'm', text: "Postcode" } %>
      <%= f.govuk_text_field :country, label: { size: 'm', text: "Country (optional)" } %>
      <%= f.govuk_submit "Save and continue" %>
    <% end %>
  </div>
</div>
