<% content_for :page_title, "#{'Error: ' if @teaching_somewhere_else_form.errors.any?}Do you know if they are teaching somewhere else?" %>
<% content_for :back_link_url, url_for(:back) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop ">
    <%= form_with model: @teaching_somewhere_else_form, url: referrals_update_teacher_role_teaching_somewhere_else_path(current_referral), method: :put do |f| %>
      <%= f.govuk_error_summary %>

      <%= f.govuk_radio_buttons_fieldset :teaching_somewhere_else,
        legend: { size: "l", text: "Do you know if they are teaching somewhere else?" } do %>
        <%= f.hidden_field :teaching_somewhere_else %>
        <%= f.govuk_radio_button :teaching_somewhere_else, "yes", label: { text: "Yes, they are teaching somewhere else" } %>
        <%= f.govuk_radio_button :teaching_somewhere_else, "no", label: { text: "No, a different organisation" } %>
        <%= f.govuk_radio_button :teaching_somewhere_else, "dont_know", label: { text: "I don’t know" } %>
      <% end %>
      <%= f.govuk_submit "Save and continue" %>
    <% end %>
  </div>
</div>
