<% content_for :page_title, "#{'Error: ' if @allegation_confirm_form.errors.any?}Check and confirm your answers" %>
<% content_for :back_link_url, url_for(:back) %>

<% rows = [
  {
    actions: [
      { text: "Change", href: referrals_edit_allegation_details_path(current_referral), visually_hidden_text: "detailed account" },
    ],
    key: { text: "Detailed account" },
    value: { text: @allegation_confirm_form.allegation_details },
  },
  {
    actions: [
      { text: "Change", href: referrals_edit_allegation_dbs_path(current_referral), visually_hidden_text: "DBS notified" },
    ],
    key: { text: "Have you told DBS?" },
    value: { text: current_referral.dbs_notified ? "Yes" : "No" },
  },
] %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">
          Check and confirm your answers
        </h1>
      </div>
    </div>

    <%= render(SummaryCardComponent.new(rows:)) do %>
      <%= render SummaryCardHeaderComponent.new(title: "What happened") %>
    <% end %>

    <%= form_with model: @allegation_confirm_form, url: referrals_update_allegation_confirm_path(current_referral), method: :put do |f| %>
      <%= f.govuk_error_summary %>

      <%= f.govuk_radio_buttons_fieldset(
        :allegation_details_complete,
        legend: { text: "Have you completed this section?", size: "m" },
        hint: { text: "You can still make changes to a completed section" },
      ) do %>
        <%= f.govuk_radio_button :allegation_details_complete, "true", label: { text: "Yes, I’ve completed this section" } %>
        <%= f.govuk_radio_button :allegation_details_complete, "false", label: { text: "No, I’ll come back to it later" } %>
      <% end %>
      <%= f.govuk_submit "Save and continue" %>
    <% end %>
  </div>
</div>
