<% content_for :page_title, "Staff" %>

<h1 class="govuk-heading-l">Staff</h1>

<p class="govuk-body">
  <%= govuk_button_link_to "Invite staff user", new_staff_invitation_path %>
</p>

<% @staff.each do |staff| %>
  <h2 class="govuk-heading-m"><%= staff.email %></h2>

  <div class="govuk-button-group">
    <%= govuk_link_to "Change permissions", edit_support_interface_staff_permission_path(staff) %>
    <% if staff.created_by_invite? && !staff.invitation_accepted? %>
      <%= govuk_link_to "Resend invitation", edit_support_interface_staff_invitation_path(staff) %>
    <% end %>
    <%= govuk_link_to "Delete user", delete_support_interface_staff_path(staff) unless staff.id == current_staff.id %>
  </div>

  <%= govuk_summary_list do |summary_list|
    summary_list.row do |row|
      row.key { "Created at" }
      row.value { staff.created_at.to_fs(:day_month_year_time) }
    end

    if staff.created_by_invite?
      summary_list.row do |row|
        row.key { "Invitation status" }

        row.value do
          if staff.invitation_accepted?
             govuk_tag(text: "Accepted", colour: "green")
          else
            govuk_tag(text: "Not accepted", colour: "red")
          end
        end
      end

      summary_list.row do |row|
        row.key { "Invited at" }
        row.value { staff.invitation_sent_at.to_fs(:day_month_year_time) }
      end
    end

    summary_list.row do |row|
      row.key { "Last signed in at" }
      row.value { staff.last_sign_in_at.to_s }
    end

    permissions = []
    permissions << "view support" if staff.view_support?
    permissions << "manage referrals" if staff.manage_referrals?

    summary_list.row do |row|
      row.key { "Permissions" }
      row.value { simple_format(permissions.join("<br>")) }
    end
  end %>
<% end %>

<%= govuk_pagination(pagy: @pagy) %>
