<% content_for :page_title, "Check and confirm your answers" %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl">
      Check and confirm your answers
    </h1>

    <%= render PreviousMisconductComponent.new(referral: current_referral) %>

    <%= form_with model: @previous_misconduct_form, url: referral_previous_misconduct_path(current_referral), method: :patch do |f| %>
      <%= f.govuk_radio_buttons_fieldset :complete, hint: { text: 'You can still make changes to a completed section' }, legend: { size: 'm', text: 'Have you completed this section?' } do %>
        <%= f.hidden_field :complete %>
        <%= f.govuk_radio_button :complete, 'true', label: { text: "Yes, I’ve completed this section" }, link_errors: true %>
        <%= f.govuk_radio_button :complete, 'false', label: { text: "No, I’ll come back to it later" } %>
      <% end %>
      <%= f.govuk_submit "Save and continue" %>
    <% end %>
  </div>
</div>
