<% content_for :page_title, "Check and confirm your answers" %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">
          Check and confirm your answers
        </h1>
      </div>
    </div>

    <% rows = [
      {
        actions: [
          { text: "Change", href: edit_referral_previous_misconduct_summary_path(current_referral), visually_hidden_text: "summary" },

        ],
        key: { text: "Summary" },
        value: { text: current_referral.previous_misconduct_summary },
      },
    ] %>
    <%= render(SummaryCardComponent.new(rows:)) do %>
      <%= render SummaryCardHeaderComponent.new(title: 'Previous allegations') %>
    <% end %>

    <%= form_with model: @previous_misconduct_form, url: referral_previous_misconduct_path(current_referral), method: :patch do |f| %>
      <%= f.govuk_radio_buttons_fieldset :complete, legend: { size: 'm', text: 'Have you completed this section?' } do %>
        <%= f.hidden_field :complete %>
        <%= f.govuk_radio_button :complete, 'true', label: { text: "Yes, I’ve completed this section" } %>
        <%= f.govuk_radio_button :complete, 'false', label: { text: "No, I’ll come back to it later" } %>
      <% end %>
      <%= f.govuk_submit "Save and continue" %>
    <% end %>
  </div>
</div>
