<% content_for :page_title, "#{'Error: ' if @detailed_account_form.errors.any?}Give a detailed account of previous allegations - Previous allegations" %>
<% content_for :back_link_url, polymorphic_path([:edit, current_referral.routing_scope, current_referral, :allegation_previous_misconduct_reported]) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with model: @detailed_account_form, url: [current_referral.routing_scope, current_referral, :allegation_previous_misconduct, :detailed_account], method: :patch do |f| %>
      <%= f.govuk_error_summary %>
      <span class="govuk-caption-l">Previous allegations</span>
      <h1 class="govuk-heading-l">Detailed account of previous allegations</h1>
      <p class="govuk-body">Provide details of:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>dates and locations</li>
        <li>what happened</li>
        <li>what action was taken</li>
        <li>reference numbers from previous referrals</li>
      </ul>
      <div class="govuk-form-group">
        <%= f.govuk_radio_buttons_fieldset(:previous_misconduct_format, legend: { size: "m", text: "How do you want to give details about previous allegations?" }) do %>
          <%= f.govuk_radio_button :previous_misconduct_format, "upload", label: { text: "Upload file" }, link_errors: true do %>
            <% if current_referral.previous_misconduct_upload.attached? %>
              <div class="app-uploaded-file">
                <h2 class="govuk-heading-s govuk-!-margin-bottom-1">
                    Currently uploaded file
                </h2>
                <p>
                  <%= govuk_link_to(
                    "#{current_referral.previous_misconduct_upload.filename} (#{file_size(current_referral.previous_misconduct_upload)})",
                    rails_blob_path(current_referral.previous_misconduct_upload, disposition: "attachment")
                    )
                  %>
                </p>
                <%= f.govuk_file_field :previous_misconduct_upload,
                  label: { text: "Upload new file", size: "s" },
                  hint: { text: "Must be smaller than #{max_allowed_file_size}" }
                %>
              </div>
            <% else %>
              <%= f.govuk_file_field :previous_misconduct_upload,
                label: { text: "Upload file", size: "s" },
                hint: { text: "Must be smaller than #{max_allowed_file_size}" }
              %>
            <% end %>
          <% end %>
          <%= f.govuk_radio_button :previous_misconduct_format, "details", label: { text: "Describe the previous allegations" } do %>
            <%= f.govuk_text_area :previous_misconduct_details,
                                  label: { text: "Description of previous allegations", size: "s" },
                                  rows: 15 %>
          <% end %>
        <% end %>
      </div>
      <%= f.govuk_submit "Save and continue" %>
    <% end %>
  </div>
</div>
