<% content_for :page_title, "#{'Error: ' if @personal_details_age_form.errors.any?}Do you know their date of birth?" %>
<% content_for :back_link_url, return_to_session_or(edit_referral_personal_details_name_path(current_referral)) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop ">
    <%= form_with model: @personal_details_age_form, url: referrals_update_personal_details_age_path(current_referral), method: :put do |f| %>
      <%= f.govuk_error_summary %>
      <div class="govuk-form-group">
        <%= f.govuk_radio_buttons_fieldset(:age_known, legend: { size: "xl", text: "Do you know their date of birth?" }) do %>
          <%= f.govuk_radio_button :age_known, "true", label: { text: "I know their date of birth" } do %>
            <%= f.govuk_date_field :date_of_birth,
                date_of_birth: true,
                legend: { text: "Date of birth", size: "m" },
                hint: { text: "For example, 27 3 1987" } %>
          <% end %>
          <%= f.govuk_radio_button :age_known, "false", label: { text: "No, I don’t know their date of birth" } %>
        <% end %>
      </div>
      <%= f.govuk_submit "Save and continue" %>
    <% end %>
  </div>
</div>
