<% content_for :page_title, "#{'Error: ' if @is_teacher_form.errors.any?}Is the allegation about a teacher?" %>
<% content_for :back_link_url, url_for(:back) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with model: @is_teacher_form, url: is_a_teacher_url, method: :post do |f| %>
      <%= f.govuk_error_summary %>
      <%= f.govuk_radio_buttons_fieldset :is_teacher, legend: { size: 'xl', text: 'Is the allegation about a teacher?' } do %>
        <%= f.hidden_field :is_teacher %>
        <%= f.govuk_radio_button :is_teacher, "yes", label: { text: "Yes" } %>
        <%= f.govuk_radio_button :is_teacher, "no", label: { text: "No" } %>
        <%= f.govuk_radio_button :is_teacher, "not_sure", label: { text: "I’m not sure" } %>
      <% end %>
      <%= f.govuk_submit prevent_double_click: false %>
    <% end %>
  </div>
</div>
