<% content_for :page_title, page_title %>
<% content_for :back_link_url, back_link_url %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <%= form_with model: form, url: form_path, method: :patch do |f| %>
      <%= f.govuk_error_summary %>

      <span class="govuk-caption-l"><%= section_label %></span>
      <div class="govuk-form-group">
        <%= f.govuk_radio_buttons_fieldset(:allegation_format, legend: { size: "l", text: form_label, tag: 'h1' }) do %>
          <%= f.govuk_radio_button :allegation_format, "upload", label: { text: "Upload file" }, link_errors: true do %>
            <% if current_referral.allegation_upload_file&.attached? %>
              <div class="app-uploaded-file">
                <h2 class="govuk-heading-s govuk-!-margin-bottom-1">
                    Currently uploaded file
                </h2>
                <p>
                  <%= govuk_link_to(
                    "#{current_referral.allegation_upload.filename} (#{file_size(current_referral.allegation_upload_file)})",
                    file_upload_path(current_referral.allegation_upload)
                    )
                  %>
                </p>
                <%= f.govuk_file_field :allegation_upload_file,
                  label: { text: "Upload new file", size: "s" },
                  hint: { text: "Must be smaller than #{max_allowed_file_size}. You cannot upload zip files." }
                %>
              </div>
            <% else %>
              <%= f.govuk_file_field :allegation_upload_file,
                label: { text: "Upload file", size: "s" },
                hint: { text: "Must be smaller than #{max_allowed_file_size}. You cannot upload zip files." }
              %>
            <% end %>
          <% end %>
          <%= f.govuk_radio_button :allegation_format, "details", label: { text: "Describe the allegation" } do %>
            <%= f.govuk_text_area :allegation_details,
                                  label: { text: "Description of the allegation", size: "s" },
                                  rows: 15 %>
          <% end %>
        <% end %>
      </div>
      <%= f.govuk_submit "Save and continue" %>
    <% end %>
  </div>
</div>
