<% content_for :page_title, "#{'Error: ' if @duties_form.errors.any?}How do you want to give details about their main duties?" %>
<% content_for :back_link_url, return_to_session_or(polymorphic_path([:edit, current_referral.routing_scope, current_referral, :teacher_role, :job_title])) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <%= form_with model: @duties_form, url: [current_referral.routing_scope, current_referral, :teacher_role, :duties], method: :put do |f| %>
      <%= f.govuk_error_summary %>

      <span class="govuk-caption-l">About their role</span>
      <div class="govuk-form-group">
        <%= f.govuk_radio_buttons_fieldset(:duties_format, legend: { text: "How do you want to give details about their main duties?", tag: 'h1', size: "l" }) do %>
          <%= f.govuk_radio_button :duties_format, "upload", label: { text: "Upload file" }, link_errors: true do %>
            <% if current_referral.duties_upload.attached? %>
              <div class="app-uploaded-file">
                <h2 class="govuk-heading-s govuk-!-margin-bottom-1">
                    Currently uploaded file
                </h2>
                <p>
                  <%= govuk_link_to(
                    "#{current_referral.duties_upload.filename} (#{file_size(current_referral.duties_upload)})",
                    rails_blob_path(current_referral.duties_upload, disposition: "attachment")
                    )
                  %>
                </p>
                <%= f.govuk_file_field :duties_upload,
                  label: { text: "Upload new file", size: "s" },
                  hint: { text: "For example, a job description"  }
                %>
              </div>
            <% else %>
              <%= f.govuk_file_field :duties_upload, label: { text: "Upload file", size: "s" } %>
            <% end %>
          <% end %>
          <%= f.govuk_radio_button :duties_format, "details", label: { text: "Describe their main duties" } do %>
            <%= f.govuk_text_area :duties_details,
                                  label: { text: "Description of their main duties", size: "s" },
                                  rows: 15 %>
          <% end %>
        <% end %>
      </div>

      <%= f.govuk_submit "Save and continue" %>
    <% end %>
  </div>
</div>
