<html>
  <head>
    <link rel="stylesheet" href="<%= @stylesheet%>">
    <style>
        .no-break {
          break-inside: avoid;
        }
        .logo {
          margin: 0px 0px 80px 0px;
          width: 150px;
          height: 150px;
        }
    </style>
  </head>
  <body>
    <img src="<%= @logo %>" class="logo"/>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds-from-desktop">
        <span class="govuk-heading-l">Teacher misconduct referral form</span>
        <h1 class="govuk-heading-l"><%= referral.name %></h1>
        <div class="no-break">
          <%= render ManageInterface::ReferralSummaryComponent.new(referral:) %>
        </div>
        <div class="no-break">
          <%= render ManageInterface::PersonalDetailsComponent.new(referral:) %>
        </div>
        <div class="no-break">
          <%= render ManageInterface::EmploymentDetailsComponent.new(referral:) %>
        </div>
        <% if referral.from_employer? %>
          <div class="no-break">
            <%= render ManageInterface::OtherEmploymentDetailsComponent.new(referral:) %>
          </div>
        <% end %>
        <div class="no-break">
          <%= render ManageInterface::AllegationDetailsComponent.new(referral:) %>
        </div>
        <div class="no-break">
          <%= render ManageInterface::EvidenceComponent.new(referral:) %>
        </div>
        <% if referral.from_employer? %>
          <div class="no-break">
            <%= render ManageInterface::PreviousAllegationDetailsComponent.new(referral:) %>
          </div>
        <% end %>
        <div class="no-break">
          <%= render ManageInterface::ReferrerDetailsComponent.new(referral:) %>
        </div>
      </div>
    </div>
  </body>
</html>
