<% content_for :page_title, "#{"Error: " if @teacher_role_check_answers_form.errors.any?}Check and confirm your answers" %>
<% content_for :back_link_url, url_for(:back) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl">
      <span class="govuk-caption-xl">About the person you are referring</span>
      Check and confirm your answers
    </h1>

    <%= render TheirRoleComponent.new(referral: current_referral) %>

    <%= form_with model: @teacher_role_check_answers_form, url: referrals_update_teacher_role_check_answers_url, method: :put do |f| %>
      <%= f.govuk_error_summary %>
      <%= f.govuk_radio_buttons_fieldset :teacher_role_complete,
        legend: { size: "m", text: "Have you completed this section?" },
        hint: { text: "You can still make changes to a completed section" } do %>
        <%= f.hidden_field :teacher_role_complete %>
        <%= f.govuk_radio_button :teacher_role_complete, true, label: { text: "Yes, I’ve completed this section" } %>
        <%= f.govuk_radio_button :teacher_role_complete, false, label: { text: "No, I’ll come back to it later" } %>
      <% end %>
      <%= f.govuk_submit "Save and continue", prevent_double_click: false %>
    <% end %>
  </div>
</div>
