<% content_for :page_title, "#{'Error: ' if @role_start_date_form.errors.any?}Do you know when they started their job?" %>
<% content_for :back_link_url, return_to_session_or(edit_referral_teacher_role_same_organisation_path(current_referral)) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <%= form_with model: @role_start_date_form, url: referral_teacher_role_start_date_path(current_referral), method: :put do |f| %>
      <%= f.govuk_error_summary %>
      <span class="govuk-caption-l">About their role</span>
      <%= f.govuk_radio_buttons_fieldset :role_start_date_known,
        legend: { text: "Do you know when they started their job?", tag: 'h1', size: "l" } do %>
        <%= f.hidden_field :role_start_date_known %>
        <%= f.govuk_radio_button :role_start_date_known, true, label: { text: "Yes" }, link_errors: true do %>
          <%= f.govuk_date_field :role_start_date,
            legend: { text: "Job start date", size: "s" },
            hint: { text: "For example, 27 3 2021" } %>
        <% end %>
        <%= f.govuk_radio_button :role_start_date_known, false, label: { text: "No" } %>
      <% end %>
      <%= f.govuk_submit "Save and continue" %>
    <% end %>
  </div>
</div>
