<% content_for :page_title, "#{'Error: ' if @teaching_in_england_form.errors.any?}Were they employed in England at the time the alleged misconduct took place?" %>
<% content_for :back_link_url, url_for(:back) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with model: @teaching_in_england_form, url: teaching_in_england_url, method: :post do |f| %>
      <%= f.govuk_error_summary %>
      <%= f.govuk_radio_buttons_fieldset :teaching_in_england, legend: { tag: 'h1', size: 'l', text: 'Were they employed in England at the time the alleged misconduct took place?' } do %>
        <%= f.hidden_field :teaching_in_england %>
        <%= f.govuk_radio_button :teaching_in_england, "yes", label: { text: "Yes" } %>
        <%= f.govuk_radio_button :teaching_in_england, "no", label: { text: "No" } %>
        <%= f.govuk_radio_button :teaching_in_england, "not_sure", label: { text: "I’m not sure" } do %>
          <p class="govuk_body">
            If you’re not sure, you should continue to make a referral and TRA will assess it.
          </p>
        <% end %>
      <% end %>
      <%= f.govuk_submit prevent_double_click: false %>
    <% end %>
  </div>
</div>
