<% content_for :page_title, "#{'Error: ' if @personal_details_check_answers_form.errors.any?}Personal details" %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl">
      <span class="govuk-caption-xl">About the person you are referring</span>
      Personal details
    </h1>

    <%= render PersonalDetailsComponent.new(referral: current_referral) %>

    <%= form_with model: @personal_details_check_answers_form, url: referral_personal_details_check_answers_path(current_referral), method: :put do |f| %>
      <%= f.govuk_error_summary %>

      <%= f.govuk_radio_buttons_fieldset(
        :personal_details_complete,
        legend: { text: "Have you completed this section?", size: "m" },
        hint: { text: "You can still make changes to a completed section" },
      ) do %>
        <%= f.govuk_radio_button :personal_details_complete, "true", label: { text: "Yes, I’ve completed this section" } %>
        <%= f.govuk_radio_button :personal_details_complete, "false", label: { text: "No, I’ll come back to it later" } %>
      <% end %>
      <%= f.govuk_submit "Save and continue" %>
    <% end %>
  </div>
</div>
