<% content_for :page_title, "#{"Error: " if @contact_details_telephone_form.errors.any?}Do you know their phone number? - Contact details" %>
<% content_for :back_link_url, polymorphic_path([:edit, current_referral.routing_scope, current_referral, :teacher_contact_details_email]) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with model: @contact_details_telephone_form, url: [current_referral.routing_scope, current_referral, :teacher_contact_details_telephone], method: :put do |f| %>
      <%= f.govuk_error_summary %>

      <span class="govuk-caption-l">Contact details</span>

      <%= f.govuk_radio_buttons_fieldset :phone_known, legend: { tag: 'h1', size: "l", text: "Do you know their phone number?" }  do %>
        <%= f.hidden_field :phone_known %>
        <%= f.govuk_radio_button :phone_known, true, label: { text: "Yes" }, link_errors: true do %>
          <%= f.govuk_text_field :phone_number, type: :tel, label: { text: "Phone number", size: 's' } %>
        <% end %>
        <%= f.govuk_radio_button :phone_known, false, label: { text: "No" } %>
      <% end %>
      <%= f.govuk_submit "Save and continue" %>
    <% end %>
  </div>
</div>
