<% content_for :page_title, "Accessibility statement" %>

<h1 class="govuk-heading-xl">Accessibility statement</h1>

<p class="govuk-body">This accessibility statement applies to Refer serious misconduct by a teacher in England.</p>

<p class="govuk-body">This service is run by the Department for Education. We want as many people as possible to be able to use this service. For example, that means you should be able to:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>change colours, contrast levels and fonts</li>
  <li>zoom in up to 300% without the text spilling off the screen</li>
  <li>get from the start of the service to the end using just a keyboard</li>
  <li>get from the start of the service to the end using speech recognition software</li>
  <li>listen to the service using a screen reader (including the most recent versions of JAWS, NVDA and VoiceOver)</li>
</ul>

<p class="govuk-body">We’ve also made the text in the service as simple as possible to understand.</p>

<p class="govuk-body">
  <%= govuk_link_to "AbilityNet (opens in a new tab)", "https://mcmw.abilitynet.org.uk", target: "_blank" %> has advice on making your device easier to use if you have a disability.
</p>

<h2 class="govuk-heading-l">How accessible this service is</h2>

<p class="govuk-body">We believe this service is fully accessible.</p>

<h2 class="govuk-heading-l">Feedback and contact information</h2>

<p class="govuk-body">If you need information on this service in a different format like accessible PDF, large print, easy read, audio recording or braille, email <%= govuk_mail_to t('service.email') %>.</p>

<p class="govuk-body">We’ll consider your request and aim to get back to you in 5 working days.</p>

<h2 class="govuk-heading-l">Reporting accessibility problems with this service</h2>

<p class="govuk-body">We’re always looking to improve the accessibility of this service. If you find any problems not listed on this page or think we’re not meeting accessibility requirements, email the details to <%= govuk_mail_to t('service.email') %>.</p>

<h2 class="govuk-heading-l">Enforcement procedure</h2>

<p class="govuk-body">The Equality and Human Rights Commission (EHRC) is responsible for enforcing the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018 (the ‛accessibility regulations’). If you’re not happy with how we respond to your complaint, <%= govuk_link_to "contact the Equality Advisory and Support Service (opens in a new tab)", "https://www.equalityadvisoryservice.com/", target: "_blank" %>.</p>

<h2 class="govuk-heading-l">Technical information about this service’s accessibility</h2>

<p class="govuk-body">The Department for Education is committed to making this service accessible, in accordance with the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018.</p>

<h2 class="govuk-heading-l">Compliance status</h2>

<p class="govuk-body">We believe this service is fully compliant with the <%= govuk_link_to "Web Content Accessibility Guidelines version 2.1 AA standard (opens in a new tab)", "https://www.w3.org/TR/WCAG21/", target: "_blank" %>.</p>

<h2 class="govuk-heading-l">How we tested this service</h2>

<p class="govuk-body">This service was manually tested by an internal team in December 2022 using the following accessibility testing tools:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>Dragon NaturallySpeaking (V15.71)</li>
  <li>JAWS (2022)</li>
  <li>Edge (2022)</li>
</ul>

<p class="govuk-body">Any issues identified have now been fixed.</p>

<h2 class="govuk-heading-l">What we are doing to improve accessibility</h2>

<p class="govuk-body">We’ll carry out ongoing internal audits to check the accessibility of this service as well as taking feedback from users.</p>

<p class="govuk-body">Any required changes will be planned into our continuous improvement work for this service.</p>

<p class="govuk-body">This accessibility statement will be updated based on any issues we identify or any changes we make to address any issues raised.</p>

<p class="govuk-body">We plan for external experts to run a full accessibility check of the service in June 2024.</p>

<h2 class="govuk-heading-l">Preparation of this accessibility statement</h2>

<p class="govuk-body">This statement was prepared on Monday 21 November 2022. It was last reviewed on 9 January 2024.</p>
<p class="govuk-body">Last updated: 10 January 2024</p>
