<% content_for :page_title, "#{"Error: " if @contact_details_email_form.errors.any?}Do you know their email address? - Contact details" %>
<% content_for :back_link_url, return_to_session_or(polymorphic_path([:edit, current_referral.routing_scope, current_referral])) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with model: @contact_details_email_form, url: referral_contact_details_email_url, method: :put do |f| %>
      <%= f.govuk_error_summary %>

      <span class="govuk-caption-l">Contact details</span>
      <%= f.govuk_radio_buttons_fieldset :email_known, legend: { tag: 'h1', size: 'l', text: "Do you know their email address?" }  do %>
        <%= f.hidden_field :email_known %>
        <%= f.govuk_radio_button :email_known, true, label: { text: "Yes" }, link_errors: true do %>
          <%= f.govuk_text_field :email_address, label: { text: "Email address", size: 's' } %>
        <% end %>
        <%= f.govuk_radio_button :email_known, false, label: { text: "No" } %>
      <% end %>
      <%= f.govuk_submit "Save and continue" %>
    <% end %>
  </div>
</div>
