<% content_for :page_title, "#{'Error: ' if @employment_status_form.errors.any?}Are they still employed in the job where the alleged misconduct took place?" %>
<% content_for :back_link_url, return_to_session_or(edit_referral_teacher_role_start_date_path(current_referral)) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop ">
    <%= form_with model: @employment_status_form, url: referral_teacher_role_employment_status_path(current_referral), method: :put do |f| %>
      <%= f.govuk_error_summary %>

      <span class="govuk-caption-l">About their role</span>
      <%= f.govuk_radio_buttons_fieldset :employment_status,
        legend: { text: "Are they still employed in the job where the alleged misconduct took place?", tag: 'h1', size: "l" }  do %>
        <%= f.hidden_field :employment_status %>
        <%= f.govuk_radio_button :employment_status, "employed", label: { text: "Yes" } %>
        <%= f.govuk_radio_button :employment_status, "suspended", label: { text: "They’re still employed but they’ve been suspended" } %>
        <%= f.govuk_radio_button :employment_status, "left_role", label: { text: "No, they have left the organisation" } %>
      <% end %>
      <%= f.govuk_submit "Save and continue" %>
    <% end %>
  </div>
</div>
