<% content_for :page_title, "#{'Error: ' if @employment_status_form.errors.any?}Are they still employed at the organisation where the alleged misconduct took place? - About their role" %>
<% content_for :back_link_url, polymorphic_path([:edit, current_referral.routing_scope, current_referral, :teacher_role, :start_date]) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <%= form_with model: @employment_status_form, url: [current_referral.routing_scope, current_referral, :teacher_role, :employment_status], method: :put do |f| %>
      <%= f.govuk_error_summary %>

      <span class="govuk-caption-l">About their role</span>
      <%= f.govuk_radio_buttons_fieldset :employment_status,
        legend: { text: "Are they still employed at the organisation where the alleged misconduct took place?", tag: 'h1', size: "l" }  do %>
        <%= f.hidden_field :employment_status %>
        <%= f.govuk_radio_button :employment_status, "employed", label: { text: "Yes" }, link_errors: true %>
        <%= f.govuk_radio_button :employment_status, "suspended", label: { text: "They’re still employed but they’ve been suspended" } %>
        <%= f.govuk_radio_button :employment_status, "left_role", label: { text: "No" } %>
      <% end %>
      <%= f.govuk_submit "Save and continue" %>
    <% end %>
  </div>
</div>
