<% content_for :page_title, "Give feedback about referring serious misconduct by a teacher" %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">
      Give feedback about referring serious misconduct by a teacher
    </h1>

    <%= form_with model: @feedback do |f| %>
      <%= f.govuk_error_summary %>

      <%= f.govuk_collection_radio_buttons(
          :satisfaction_rating,
          satisfaction_rating_options(Feedback::SATISFACTION_RATINGS),
          :value,
          :label,
          legend: { text: "How satisfied are you with the service?", size: "m" },
        ) %>

      <div class="govuk-form-group">
        <%= f.govuk_text_area :improvement_suggestion, label: { text: "How can we improve the service?", size: "m" } %>
      </div>

      <%= f.govuk_radio_buttons_fieldset :contact_permission_given, legend: { size: "m", text: "Can we contact you about your feedback?" } do %>
        <%= f.govuk_radio_button :contact_permission_given, 'true', label: { text: "Yes" }, link_errors: true do %>
          <%= f.govuk_text_field :email, label: { text: "Email address", size: "s" } %>
        <% end %>
        <%= f.govuk_radio_button :contact_permission_given, 'false', label: { text: "No" } %>
      <% end %>

      <%= f.govuk_submit "Send feedback" %>
    <% end %>
  </div>
</div>
