<% content_for :page_title, "#{"Error: " if @contact_details_address_form.errors.any?}Their home address - Contact details" %>
<% content_for :back_link_url, polymorphic_path([:edit, current_referral.routing_scope, current_referral, :contact_details_address_known]) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with model: @contact_details_address_form, url: [current_referral.routing_scope, current_referral, :contact_details_address], method: :put do |f| %>
      <%= f.govuk_error_summary %>

      <span class="govuk-caption-l">Contact details</span>
      <h1 class="govuk-heading-l">Their home address</h1>

      <%= f.govuk_text_field :address_line_1, label: { size: 'm', text: "Address line 1" } %>
      <%= f.govuk_text_field :address_line_2, label: { size: 'm', text: "Address line 2 (optional)" } %>
      <%= f.govuk_text_field :town_or_city, label: { size: 'm', text: "Town or city" } %>
      <%= f.govuk_text_field :postcode, label: { size: 'm', text: "Postcode" } %>
      <%= f.govuk_text_field :country, label: { size: 'm', text: "Country (optional)" } %>
      <%= f.govuk_submit "Save and continue" %>
    <% end %>
  </div>
</div>
