<% content_for :page_title, "#{"Error: " if @contact_details_address_form.errors.any?}Do you know their home address?" %>
<% content_for :back_link_url, return_to_session_or(referrals_edit_contact_details_telephone_path(current_referral)) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with model: @contact_details_address_form, url: referrals_update_contact_details_address_url, method: :put do |f| %>
      <%= f.govuk_error_summary %>
      <%= f.govuk_radio_buttons_fieldset :address_known, legend: { size: "xl", text: "Do you know their home address?" }  do %>
        <%= f.hidden_field :address_known %>
        <%= f.govuk_radio_button :address_known, true, label: { text: "Yes" } do %>
          <%= f.govuk_fieldset legend: { text: "What is their address?" } do %>
            <%= f.govuk_text_field :address_line_1, label: { text: "Address line 1" } %>
            <%= f.govuk_text_field :address_line_2, label: { text: "Address line 2 (optional)" } %>
            <%= f.govuk_text_field :town_or_city, label: { text: "Town or city" } %>
            <%= f.govuk_text_field :postcode, label: { text: "Postcode" } %>
            <%= f.govuk_text_field :country, label: { text: "Country (optional)" } %>
          <% end %>
        <% end %>
        <%= f.govuk_radio_button :address_known, false, label: { text: "No" } %>
      <% end %>
      <%= f.govuk_submit "Save and continue", prevent_double_click: false %>
    <% end %>
  </div>
</div>
