<% content_for :page_title, "#{'Error: ' if @evidence_start_form.errors.any?}Evidence and supporting information" %>
<% content_for :back_link_url, polymorphic_path([:edit, current_referral.routing_scope, current_referral]) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <%= form_with model: @evidence_start_form, url: referral_allegation_evidence_start_path(current_referral), method: :put do |f| %>
      <%= f.govuk_error_summary %>

      <h1 class="govuk-heading-l">
        Evidence and supporting information
      </h1>

      <p>For example:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>file notes concerning conduct, behaviour, attitude</li>
        <li>statements made by the person you’re referring</li>
        <li>documents of internal investigations and outcomes</li>
        <li>documentation of any past disciplinary action and complaints</li>
        <li>investigation and reports from the police or local authority</li>
        <li>signed witness statements</li>
      </ul>

      <p>Signed and dated documents are better than unsigned ones. If they were not signed at the time of being written,
      ask the parties involved to sign and date a statement confirming their accuracy.</p>

      <p>Do not redact any of the documents. This will make it difficult to consider the evidence. All
      information given is treated in strict confidence.</p>

      <%= f.govuk_radio_buttons_fieldset(
        :has_evidence,
        legend: { text: "Do you have evidence to upload?", size: "m" },
      ) do %>
        <%= f.govuk_radio_button :has_evidence, "true", label: { text: "Yes" }, link_errors: true %>
        <%= f.govuk_radio_button :has_evidence, "false", label: { text: "No" } %>
      <% end %>
      <%= f.govuk_submit "Save and continue" %>
    <% end %>
  </div>
</div>
