<% content_for :page_title, "#{"Error: " if @contact_details_check_answers_form.errors.any?}Have you completed this section?" %>
<% content_for :back_link_url, url_for(:back) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl">
      <span class="govuk-caption-xl">About the person you are referring</span>
      Contact details
    </h1>
    <% rows = [
      {
        actions: [
          { text: "Change", href: referrals_edit_contact_details_email_path(current_referral), visually_hidden_text: "email" },

        ],
        key: { text: "Email address" },
        value: { text: current_referral.email_known ? current_referral.email_address : "Not known" },
      },
      {
        actions: [
          { text: "Change", href: referrals_edit_contact_details_telephone_path(current_referral), visually_hidden_text: "telephone" },

        ],
        key: { text: "Phone number" },
        value: { text: current_referral.phone_known ? current_referral.phone_number : "Not known" },
      },
      {
        actions: [
          { text: "Change", href: referrals_edit_contact_details_address_path(current_referral), visually_hidden_text: "address" },

        ],
        key: { text: "Address" },
        value: { text: current_referral.address_known ? address(current_referral) : "Not known" },
      }
    ] %>
    <%= render(SummaryCardComponent.new(rows:)) do %>
      <%= render SummaryCardHeaderComponent.new(title: 'Contact details') %>
    <% end %>

    <%= form_with model: @contact_details_check_answers_form, url: referrals_update_contact_details_check_answers_url, method: :put do |f| %>
      <%= f.govuk_error_summary %>
      <%= f.govuk_radio_buttons_fieldset :contact_details_complete,
        legend: { size: "m", text: "Have you completed this section?" },
        hint: { text: "You can still make changes to a completed section" } do %>
        <%= f.hidden_field :contact_details_complete %>
        <%= f.govuk_radio_button :contact_details_complete, true, label: { text: "Yes, I’ve completed this section" } %>
        <%= f.govuk_radio_button :contact_details_complete, false, label: { text: "No, I’ll come back to it later" } %>
      <% end %>
      <%= f.govuk_submit "Save and continue", prevent_double_click: false %>
    <% end %>
  </div>
</div>
