<% content_for :page_title, page_title %>
<% content_for :back_link_url, back_link_url %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <%= form_with model: form, url: form_path, method: :patch do |f| %>
      <%= f.govuk_error_summary %>

      <span class="govuk-caption-l"><%= section_label %></span>
      <%= f.govuk_text_field :job_title,
        label: { text: form_label, tag: 'h1', size: "l" },
        hint: { text: "For example, ‘Teacher’" }
      %>
      <%= f.govuk_submit "Save and continue" %>
    <% end %>
  </div>
</div>
