<!DOCTYPE html>
<html lang="en" class="govuk-template">
  <head>
    <title><%= [yield(:page_title).presence, t('service.name'), 'GOV.UK'].compact.join(' - ') %></title>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= tag :meta, name: 'viewport', content: 'width=device-width, initial-scale=1' %>
    <%= tag :meta, property: 'og:image', content: asset_path('images/govuk-opengraph-image.png') %>
    <%= tag :meta, name: 'theme-color', content: '#0b0c0c' %>
    <%= tag :meta, name: 'robots', content: 'noindex' %>

    <%= favicon_link_tag asset_path('images/favicon.ico'), rel: "icon", sizes: "48x48" %>
    <%= favicon_link_tag asset_path('images/favicon.svg'), rel: "icon", sizes: "any", type: "image/svg+xml" %>
    <%= favicon_link_tag asset_path('images/govuk-icon-mask.svg'), rel: 'mask-icon', type: 'image/svg', color: "#0b0c0c" %>
    <%= favicon_link_tag asset_path('images/govuk-icon-180.png'), rel: 'apple-touch-icon', type: 'image/png' %>

    <%= stylesheet_link_tag :main %>
    <%= javascript_include_tag :application, defer: true %>
  </head>

  <body class="govuk-template__body">
    <%= javascript_tag nonce: true do %>
      document.body.className += ' js-enabled' + ('noModule' in HTMLScriptElement.prototype ? ' govuk-frontend-supported' : '');
    <% end %>

    <%= govuk_skip_link %>

    <%= navigation %>

    <div class="govuk-width-container">
      <%= govuk_phase_banner(tag: { text: "Beta" }) do %>
        This is a new service – your <%= govuk_link_to("feedback", main_app.feedbacks_path) %> will help us to improve it.
      <% end %>
      <%= govuk_back_link(href: yield(:back_link_url)) if content_for?(:back_link_url) %>
      <%= yield(:breadcrumbs) if content_for?(:breadcrumbs) %>
      <main class="govuk-main-wrapper" id="main-content" role="main">
        <%= render(FlashMessageComponent.new(flash: flash)) %>
        <%= yield :content %>
      </main>
    </div>

    <%= render GovukComponent::FooterComponent.new do |footer| %>
      <% footer.with_meta do %>
        <div class="govuk-footer__meta-item govuk-footer__meta-item--grow">
          <h2 class="govuk-heading-m">Get help</h2>
          <p class="govuk-!-font-size-16">Email: <%= govuk_link_to("misconduct.teacher@education.gov.uk", "misconduct.teacher@education.gov.uk", class: "govuk-footer__link") %><br>You’ll get a response within 3 working days.</p>

          <p class="govuk-!-font-size-16">Phone: 020 7593 5393<br>Monday to Friday, 9am to 5pm (except public holidays)</p>
          <hr class="govuk-section-break govuk-section-break--l">

          <h2 class="govuk-visually-hidden">Footer links</h2>

          <ul class="govuk-footer__inline-list">
            <li class="govuk-footer__inline-list-item">
              <%= govuk_link_to("Accessibility", "/accessibility", class: "govuk-footer__link") %>
            </li>
            <li class="govuk-footer__inline-list-item">
              <%= govuk_link_to("Cookies", "/cookies", class: "govuk-footer__link") %>
            </li>
            <li class="govuk-footer__inline-list-item">
              <%= govuk_link_to("Privacy notice", "/privacy", class: "govuk-footer__link") %>
            </li>
          </ul>

          <svg aria-hidden="true" focusable="false" class="govuk-footer__licence-logo" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 483.2 195.7" height="17" width="41">
            <path fill="currentColor" d="M421.5 142.8V.1l-50.7 32.3v161.1h112.4v-50.7zm-122.3-9.6A47.12 47.12 0 0 1 221 97.8c0-26 21.1-47.1 47.1-47.1 16.7 0 31.4 8.7 39.7 21.8l42.7-27.2A97.63 97.63 0 0 0 268.1 0c-36.5 0-68.3 20.1-85.1 49.7A98 98 0 0 0 97.8 0C43.9 0 0 43.9 0 97.8s43.9 97.8 97.8 97.8c36.5 0 68.3-20.1 85.1-49.7a97.76 97.76 0 0 0 149.6 25.4l19.4 22.2h3v-87.8h-80l24.3 27.5zM97.8 145c-26 0-47.1-21.1-47.1-47.1s21.1-47.1 47.1-47.1 47.2 21 47.2 47S123.8 145 97.8 145"></path>
          </svg>

          <span class="govuk-footer__licence-description">All content is available under the <%= govuk_link_to("Open Government Licence v3.0", "https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/", class: "govuk-footer__link") %>, except where otherwise stated</span>
        </div>

        <div class="govuk-footer__meta-item">
          <%= link_to(footer.copyright_text, footer.copyright_url, class: "#{footer.brand}-footer__link #{footer.brand}-footer__copyright-logo") %>
        </div>
      <% end %>
    <% end %>
  </body>
</html>
