<!DOCTYPE html>
<html lang="en" class="govuk-template govuk-template--rebranded">
  <head>
    <title><%= [yield(:page_title).presence, t('service.name'), 'GOV.UK'].compact.join(' - ') %></title>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= tag :meta, name: 'viewport', content: 'width=device-width, initial-scale=1' %>
    <%= tag :meta, property: 'og:image', content: asset_path('images/govuk-opengraph-image.png') %>
    <%= tag :meta, name: 'theme-color', content: '#0b0c0c' %>
    <%= tag :meta, name: 'robots', content: 'noindex' %>

    <%= favicon_link_tag asset_path('images/favicon.ico'), rel: "icon", sizes: "48x48" %>
    <%= favicon_link_tag asset_path('images/favicon.svg'), rel: "icon", sizes: "any", type: "image/svg+xml" %>
    <%= favicon_link_tag asset_path('images/govuk-icon-mask.svg'), rel: 'mask-icon', type: 'image/svg', color: "#0b0c0c" %>
    <%= favicon_link_tag asset_path('images/govuk-icon-180.png'), rel: 'apple-touch-icon', type: 'image/png' %>

    <%= stylesheet_link_tag :main %>
    <%= javascript_include_tag :application, defer: true %>
  </head>

  <body class="govuk-template__body">
    <%= javascript_tag nonce: true do %>
      document.body.className += ' js-enabled' + ('noModule' in HTMLScriptElement.prototype ? ' govuk-frontend-supported' : '');
    <% end %>

    <%= govuk_skip_link %>

    <%= govuk_header %>
    <%= navigation %>

    <div class="govuk-width-container">
      <%= govuk_phase_banner(tag: { text: "Beta" }) do %>
        This is a new service – your <%= govuk_link_to("feedback", main_app.feedbacks_path) %> will help us to improve it.
      <% end %>
      <%= govuk_back_link(href: yield(:back_link_url)) if content_for?(:back_link_url) %>
      <%= yield(:breadcrumbs) if content_for?(:breadcrumbs) %>
      <main class="govuk-main-wrapper" id="main-content" role="main">
        <%= render(FlashMessageComponent.new(flash: flash)) %>
        <%= yield :content %>
      </main>
    </div>

    <%= render GovukComponent::FooterComponent.new do |footer| %>
      <% footer.with_meta_html do %>
        <h2 class="govuk-heading-m">Get help</h2>
        <p class="govuk-!-font-size-16">Email: <%= govuk_link_to("misconduct.teacher@education.gov.uk", "misconduct.teacher@education.gov.uk", class: "govuk-footer__link") %><br>You’ll get a response within 3 working days.</p>

        <p class="govuk-!-font-size-16">Phone: 020 7593 5393<br>Monday to Friday, 9am to 5pm (except public holidays)</p>

        <h2 class="govuk-visually-hidden">Footer links</h2>

        <ul class="govuk-footer__inline-list">
          <li class="govuk-footer__inline-list-item">
            <%= govuk_link_to("Accessibility", "/accessibility", class: "govuk-footer__link") %>
          </li>
          <li class="govuk-footer__inline-list-item">
            <%= govuk_link_to("Cookies", "/cookies", class: "govuk-footer__link") %>
          </li>
          <li class="govuk-footer__inline-list-item">
            <%= govuk_link_to("Privacy notice", "/privacy", class: "govuk-footer__link") %>
          </li>
        </ul>
      <% end %>
    <% end %>
  </body>
</html>
